<mat-expansion-panel *ngFor="let section of sections; let i = index">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{section.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <span class="document-header cursor-pointer" (click)="drop2.showFileSelector()">Files<i class="fa fa-plus m-1 cursor-pointer" title="Максимальный размер файла 10мб. Допустимые форматы: pdf, jpeg, png, doc, docx, xls, xlsx"></i></span>
  <div class="file-contaner">
    <ngx-dropzone #drop2 [accept]="ALLOW_FILE_EXT" [maxFileSize]="ALLOW_FILE_SIZE" (change)="onFileSelect($event, i)">
      <ngx-dropzone-label>No uploaded files</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let file of section.specialityFiles" [removable]="true" (removed)="onFileRemove(file, i)" (click)="onFileItemClick(file)">
        <ngx-dropzone-label>
          <span class="file-name" title="{{file.name}}">{{file.name}}</span>
        </ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>
</mat-expansion-panel>
<mdb-icon id="plus" fas icon="plus" [hidden]="canEdit" (click)="onCreateClicked()"></mdb-icon>
