<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Edit User</h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <form class="example-form">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [value]="editedUser.email" disabled>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Group number" [formControl]="groupNumberFormControl"
                   [errorStateMatcher]="matcher" [(ngModel)]="editedUser.groupNumber" (change)="checkGroupNumber()">
            <mat-error *ngIf="!groupNumberFormControl.hasError('required')">
              Group with this number doesnt exist
            </mat-error>
            <mat-error *ngIf="groupNumberFormControl.hasError('required')">
              Group number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select name="roleName" [(value)]="editedUser.roleName" [formControl]="roleNameFormControl" (selectionChange)="checkRole();">
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="roleNameFormControl.hasError('required')">
              Role is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="roleNameFormControl.hasError('alreadyExist')">
              User with the same role in the same group/speciality already exists
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First name" [value]="editedUser.firstName" disabled>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last name"  [value]="editedUser.lastName" disabled>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Middle name" [value]="editedUser.middleName" disabled>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Subgroup" [formControl]="subGroupNumberFormControl"
                   [errorStateMatcher]="matcher" [(ngModel)]="editedUser.subGroup">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancel')">Cancel</button>
  <button type="button" class="btn btn-outline-dark" (click)="modal.close(editedUser)" [disabled]="roleNameFormControl.invalid || groupNumberFormControl.invalid">Save</button>
</div>

